---
import 'style.css';
---

<!DOCTYPE html>
<html>
<head>
    <title>TCP/IP技術入門輪読会 | AkiOkuhira</title>
    <meta charset="utf-8">
</head>
<body>
    <div class="contents">
        <h1>定期イベント：TCP/IP技術入門輪読会</h1>
        <hr>
        <h2>イベントページ</h2>
        <p>
            <a href="../day1">2025/05/18　第1回輪読会</a><br>
            2025/06/29　第2回輪読会　予定
        </p>
        <hr>
        <h2>課題図書</h2>
        <p>
            <b>TCP/IP技術入門　プロトコルスタックの基礎×実装［HTTP/3, QUIC, モバイル, Wi-Fi, IoT］</b><br>
            著者：中山悠，丸田一輝<br>
            出版社：技術評論社<br>
            <a href="https://gihyo.jp/book/2024/978-4-297-14157-8">【出版社公式ページ】</a>
        </p>
        <h2>対象者</h2>
        <p>
            <ul>
                <li>Discordサーバー「IT学習」に参加しているメンバー</li>
                <li>ネットワークについて勉強中の方</li>
                <li>ネットワークについて興味のある方</li>
                <li>事前に課題の章を読み、不明点などはある程度前もって調べることができる方</li>
            </ul>
        </p>
        <h2>イベント概要</h2>
        <p>
            <ul>
                <li>基本的に月1回のペース</li>
                <li>基本的に土日祝を開催日とする</li>
                <li><b>⚠本イベントは会話内容をまとめ、記録するために主催者Akiによって録音されます⚠</b></li>
            </ul>
        </p>
    </div>
</body>
</html>
