:root {
  --bg-color: #ffffff;
  --text-color: #000;
  --border-color: #ddd;
  --card-color:#EEEEEE;

  --base-font-size: 16px;
  --header-font-size: 1.7rem;
  --logo-font-size: 2rem;
  --menu-font-size: 1.7rem;
}

.dark-mode {
  --bg-color: #4E4E4E;
  --text-color: #fff;
  --border-color: #333;
  --card-color:#858585;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}