---
import sample_cat from "../assets/logo_250125.png";
import Layout from "../layouts/layout.astro";
---

<style>
  h1 {
    font-size: 96px;
    margin: 0;
    font-weight: normal;
  }

  p {
    font-size: 36px;
    margin: 0 1%;
  }

  .section-main {
    margin-top : 3%;
    margin-right : 50%;
    margin-left : 5%;
    text-align: left;
  }

  .section-button {
    margin-top: 20px;
  }

  .section-button button{
    width: 150px;
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: var(--text-color);
    background-color: #D9D9D9;

    &:hover {
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
      transform: scale(1.04);
      transition-duration: 0.5s;
    }
    &:active {
      transform: scale(0.98);
      transition-duration: 0.2s;
    }
  }

  .img-main {
    margin-top : -20%;
    display: flex;
    justify-content: flex-end;
  }
  .img-main img {
    width: 60vw; 
    z-index: -1;
  }
</style>

<Layout>
  <div class="section-main">
    <h1>IT学習サーバー</h1>
    <p>
      IT系の資格を勉強する仲間を作るためのDiscordコミュニティです<br>
      資格はIT関係なら何でもありで、CCNA、基本情報・応用情報、また言語についてのチャンネルなどがあります!<br>
      雑談やボードゲームなども交えつつ仲良く勉強していきたい方にお勧めしています<br>
    </p>
    <div class="section-button">
      <button>説明を見る</button>
      <button>参加する</button>
    </div>
  </div>

  <div class ="img-main">
      <img src={sample_cat.src}>
  </div>
</Layout>
