---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
---
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="8zcm0HGKGIe9e5w9dEIKUVNd28FDH5wlUM4IP-tFgj4" />
    <title>メンバー</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

      body {
        font-family: 'Inter', sans-serif;
        line-height: 1.5;
        display: flex;
        background-color: var(--bg-color);
        color: var(--text-color);
        transition: background-color 0.3s, color 0.3s;
        flex-direction: column;
        text-align: center; /* テキストを中央揃え */
      }
    </style>
  </head>

  <body>
    <Header /> 
    <main>
      <slot />
    </main>
    <Footer />
  </body>

</html>
